{:source-paths
 ["resources"
  "src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.24.0"]
  [instaparse "1.4.12"]]

 :dev-http {8080 "public"
            7070 "out/test"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn bel.core/-main}}}
  :test
  {:target    :browser-test
   :test-dir  "out/test"
   :ns-regexp "-test$"
   :autorun   true}}}
