{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[instaparse "1.4.12"]]

 :dev-http {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn bel.core/-main}}}}}
